
body{
	background: #000000;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #ff853d;

}
.jumbotron{
	font-family: 'Montserrat', sans-serif;
	font-size: 62px;
	font-style: oblique;
	text-align: left;
	color: #000000;
  	background-image: url(http://s29.postimg.org/onsjyodnr/13952804852_cdf9d5a836_k.jpg);
    max-width: 100%;  
  	height: 600px;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.row {
    padding-top: 50px;
}
.row h2 {
    font-size: 62px;
    margin-top: 25px;
}
.row p {
    padding-top: 50px;
}
.thumbnail {
    background: #000000;
    height: 140px;
    width: 140px;
}

